BODY {
	 SCROLLBAR-FACE-COLOR: #FFFFFF; SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF; SCROLLBAR-SHADOW-COLOR: #6699CC; SCROLLBAR-ARROW-COLOR: #6699CC; SCROLLBAR-TRACK-COLOR: #FFFFFF; BACKGROUND-REPEAT: repeat; SCROLLBAR-BASE-COLOR: #6699CC; scrollbar-3d-light-color: #6699CC; scrollbar-dark-shadow-color: #FFFFFF
}

.metin {
	FONT-WEIGHT: light; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: tahoma, sans serif;
}
.sbttn {
	BORDER-RIGHT: #104a7b 1px solid; BORDER-TOP: #afc4d5 1px solid; BACKGROUND: #d6e7ef; BORDER-LEFT: #afc4d5 1px solid; CURSOR: hand; COLOR: #000066; BORDER-BOTTOM: #104a7b 1px solid; FONT-FAMILY: tahoma, sans serif HEIGHT: 19px; TEXT-DECORATION: none
}

.input {
	BORDER-RIGHT: #104a7b 1px solid; BORDER-TOP: #afc4d5 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #afc4d5 1px solid; WIDTH: 255px; COLOR: #003366; BORDER-BOTTOM: #104a7b 1px solid; FONT-FAMILY: tahoma, sans serif; BACKGROUND-COLOR: #FFFFFF
}

.input2 {
	BORDER-RIGHT: #104a7b 1px solid; BORDER-TOP: #afc4d5 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #afc4d5 1px solid; WIDTH: 150px; COLOR: #003366; BORDER-BOTTOM: #104a7b 1px solid; FONT-FAMILY: tahoma, sans serif; BACKGROUND-COLOR: #FFFFFF
}

.button {
    BACKGROUND-COLOR:#FFDCDC;
	BORDER-RIGHT: #104a7b 1px solid;
	BORDER-TOP: #afc4d5 1px solid; 
	BORDER-LEFT: #afc4d5 1px solid; 
	CURSOR: hand; 
	BORDER-BOTTOM: #104a7b 1px solid; 
	FONT-FAMILY: tahoma, sans serif;
	HEIGHT: 20px; 
	WIDTH: 100PX;
	TEXT-DECORATION: none; 
	FONT-SIZE: 11px;
	
	
}

.button1 {
    BACKGROUND-COLOR:#FFDCDC;
	BORDER-RIGHT: #104a7b 1px solid;
	BORDER-TOP: #afc4d5 1px solid; 
	BORDER-LEFT: #afc4d5 1px solid; 
	CURSOR: hand; 
	BORDER-BOTTOM: #104a7b 1px solid; 
	FONT-FAMILY: tahoma, sans serif;
	HEIGHT: 20px; 
	WIDTH: 150PX;
	TEXT-DECORATION: none; 
	FONT-SIZE: 11px;
	
	
}

.button2 {
    BACKGROUND-COLOR:#FFDCDC;
	BORDER-RIGHT: #104a7b 1px solid;
	BORDER-TOP: #afc4d5 1px solid; 
	BORDER-LEFT: #afc4d5 1px solid; 
	CURSOR: hand; 
	BORDER-BOTTOM: #104a7b 1px solid; 
	FONT-FAMILY: tahoma, sans serif;
	HEIGHT: 20px; 
	WIDTH: 200PX;
	TEXT-DECORATION: none; 
	FONT-SIZE: 11px;
	
	
}

.button3 {
	BORDER-RIGHT: #104a7b 1px solid;
	BORDER-TOP: #afc4d5 1px solid; 
	BORDER-LEFT: #afc4d5 1px solid; 
	CURSOR: hand; 
	BORDER-BOTTOM: #104a7b 1px solid; 
	FONT-FAMILY: tahoma, sans serif;
	HEIGHT: 17px; 
	TEXT-DECORATION: none; 
	FONT-SIZE: 11px;
	WIDTH: 40PX;
	
	
}

.metin1 {
	FONT-SIZE: 12px; FONT-FAMILY: arial; COLOR: #777777; 
}
.metin4 {
	FONT-SIZE: 12px; FONT-FAMILY: arial; COLOR: #646464; 
}
.metin3 {
	FONT-SIZE: 12px; FONT-FAMILY: arial; COLOR: #000000; 
}
.metin5 {
	FONT-SIZE: 11px; FONT-FAMILY: arial; COLOR: #ffffff; 
}
.combobox {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; FONT-SIZE: 11px; BORDER-LEFT: 0px solid; 
	WIDTH: 75px; COLOR: #333333; BORDER-BOTTOM: 0px solid; 
	FONT-FAMILY: Verdana; BACKGROUND-COLOR: #DBDADA; COLOR: #646464
}
.inputTextfield {
	BORDER-RIGHT: #ffffff 0px solid; BORDER-TOP: #ffffff 0px solid; FONT-SIZE: 11px;
	 BORDER-LEFT: #ffffff 0px solid; CURSOR: hand; COLOR: #646464; BORDER-BOTTOM: #ffffff 0px solid; 
	 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #DBDADA; TEXT-DECORATION: none; height:17
}
.inputTextfield1 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 11px;
	 BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #646464; BORDER-BOTTOM: #ffffff 1px solid; 
	 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #DBDADA; TEXT-DECORATION: none; height:17
}
.metin2 {
	FONT-WEIGHT: light; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: tahoma, sans serif; TEXT-DECORATION: none
}

.inputButton {
	BORDER-RIGHT: #354d73 1px solid;
	BORDER-TOP: #354d73 1px solid;
	FONT-SIZE: 10px;
	BORDER-LEFT: #354d73 1px solid;
	CURSOR: hand;
	COLOR: #354d73;
	BORDER-BOTTOM: #354d73 1px solid;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none;
	WIDTH: 35px;
	background-color: #FFFFFF;}
	
	
	
	
	
	
	
	
.div1 {
	TEXT-ALIGN: right
}
.div2 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: arial; BACKGROUND-COLOR: #D71E26
}
.div3{
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: arial; TEXT-DECORATION: none
}


.buton1 { 
PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: arial; TEXT-DECORATION: none
}


.link1 {
	TEXT-ALIGN: left
}

.link2 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.link2:link {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.link2:visited {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.link2:active {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.link2:hover {
	PADDING-RIGHT: 3px; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: arial; BACKGROUND-COLOR: #666666; TEXT-DECORATION: none
}









.aramaSonuclariheader {
	PADDING-BOTTOM: 5px;FONT-SIZE: 10px
}

.aramaSonuclariItem {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; BORDER-LEFT: #ffffff 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
.aramaSonuclariexp {
	FONT-SIZE: 11px; FONT-FAMILY: arial
}



